<div class="cmp-product-information">
    <div class="cmp-product-information__overview">
        <div class="cmp-product-information__introduction">
            <h2 class="cmp-product-information__title">Product Information</h2>
            <div class="cmp-product-information__description">
                <p>Barista-quality performance with a new intuitive interface that provides all the information you need to create third wave specialty coffee at home. The built-in grinder delivers the right amount of ground coffee on demand, for full flavor. With a 3 second heat up time and precise espresso extraction, you go from bean to cup, faster than ever before.</p>
            </div>
        </div>
        <div class="cmp-product-information__features">
            <div class="cmp-product-information__feature-icon">
                <span class=" cmp-product-information__feature-icon-blender" alt="Feature icon">
                <p class="cmp-product-information__feature-description">Integrated Conical Burr Grinder</p>
            </span></div>
            <div class="cmp-product-information__feature-icon">
                <span class=" cmp-product-information__feature-icon-timer" alt="Feature icon">
                <p class="cmp-product-information__feature-description">3 Sec Thermojet Heatup</p>
            </span></div>
            <div class="cmp-product-information__feature-icon">
                <span class=" cmp-product-information__feature-icon-coffee" alt="Feature icon">
                <p class="cmp-product-information__feature-description">Microfoam Milk Texture Wand</p>
            </span></div>
            <div class="cmp-product-information__feature-icon">
                <span class="cmp-product-information__feature-icon-display" alt="Feature icon">
                <p class="cmp-product-information__feature-description">Intuitive LCD Interface</p>
            </span></div>
        </div>
    </div>
    <div class="cmp-product-information__detail">
        <div class="cmp-product-information__detail-right-column">
            <div class="cmp-product-information__detail-feature">
               <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-accessories" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                  <h4 class="cmp-product-information__detail-feature-title">Accessories</h4>
                  <div class="cmp-product-information__detail-feature-description">
                    <ul class="cmp-product-information__detail-feauture-list">
                        <li class='cmp-product-information__detail-feature-item'>Single &amp; Dual Wall (1 &amp; 2 Cup)</li>
                        <li class='cmp-product-information__detail-feature-item'>Filter Baskets</li>
                        <li class='cmp-product-information__detail-feature-item'>The Razor™ Precision Dose Trimming Tool</li>
                        <li class='cmp-product-information__detail-feature-item'>480 ml Stainless Steel Milk Jug</li>
                        <li class='cmp-product-information__detail-feature-item'>Cleaning Kit</li>
                        <li class='cmp-product-information__detail-feature-item'>Water Filter</li>
                    </ul>
                     
                  </div>
                </div>
            </span></div>
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-construction" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Construction Materials</h4>
                    <div class="cmp-product-information__detail-feature-description">                   
                        <ul class="cmp-product-information__detail-feauture-list">
                            <li class='cmp-product-information__detail-feature-item'>Brushed Stainless Steel</li>
                        </ul>
                    </div>
                </div>
                </span></div>
                <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-settings" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Settings</h4>
                    <div class="cmp-product-information__detail-feature-description">
                        <ul class="cmp-product-information__detail-feauture-list">
                          <li class='cmp-product-information__detail-feature-item'>Adjustable Grind Control</li>
                           <li class='cmp-product-information__detail-feature-item'>Intuitive LCD Interface</li>
                           <li class='cmp-product-information__detail-feature-item'> 1 & 2 Cup Volumetric Control</li>
                        </ul>                           
                    </div>
                </div>
            </span></div>
        </div>
        <div class="cmp-product-information__detail-left-column">
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-capacity" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Capacity</h4>
                    <div class="cmp-product-information__detail-feature-description">
                      <ul class="cmp-product-information__detail-feauture-list">
                          <li class='cmp-product-information__detail-feature-item'>67 fl.oz. Water Tank</li>
                        <li class='cmp-product-information__detail-feature-item'>½ lb Bean Hopper</li>                         
                    </ul> 
                       
                    </div>
                </div>
            </span></div>
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-dimensions" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Dimensions (WxDxH)</h4>
                    <div class="cmp-product-information__detail-feature-description">
                      <ul class="cmp-product-information__detail-feauture-list">
                        <li class='cmp-product-information__detail-feature-item'> 13.9" x 16.1" x 16"</li>                                                  
                      </ul>                             
                    </div>
                </div>
            </span></div>
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-power" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Power</h4>
                    <div class="cmp-product-information__detail-feature-description">
                      <ul class="cmp-product-information__detail-feauture-list">
                        <li> 1680 Watts</li>                                                  
                      </ul>                     
                    </div>
                </div>
            </span></div>
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-voltage" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Voltage</h4>
                    <div class="cmp-product-information__detail-feature-description">
                      <ul class="cmp-product-information__detail-feauture-list">
                        <li class='cmp-product-information__detail-feature-item'> 120 Watts</li>                                                  
                      </ul>   
                    </div>
                </div>
            </span></div>
            <div class="cmp-product-information__detail-feature">
                <span class="cmp-product-information__detail-feature-icon cmp-product-information__detail-feature-icon-warranty" alt="Feature icon">
                <div class="cmp-product-information__detail-feature-content">
                    <h4 class="cmp-product-information__detail-feature-title">Warranty</h4>
                    <div class="cmp-product-information__detail-feature-description">
                      <ul class="cmp-product-information__detail-feauture-list">
                        <li class='cmp-product-information__detail-feature-item'> 2 Year Limited Product Warranty</li>                                                  
                      </ul>                           
                    </div>
                </div>
            </span></div>
        </div>
    </div>
  </div>
</div>