.masterclass-tile {
  text-align: left;
    
  &__image-wrapper {
    position: relative;

    display: flex;
    overflow: hidden;

    border-radius: $cs-border-radius-10;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;
      width: 100%;
      height: 100%;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 55%);

      content: '';
    }

    .masterclass-tile__image {
      width: 100%;
    }

    .masterclass-tile__video-time-wrapper {
      position: absolute;
      z-index: 10;

      display: flex;
      align-items: center;
      padding: $cs-spacing-15 0 0 $cs-spacing-15;

      .masterclass-tile__video-icon {
        @extend %watch-video-icon;
        width: 0.875rem;
        height: 0.875rem;
        margin-right: $cs-spacing-5;
      }

      .masterclass-tile__video-duration {
        @extend %cs-font-p-2-bold;
        color: $cs-white;
      }
    }
  }

  &__tag {
    @extend %cs-font-p-5;
    display: inline-block;
    margin: $cs-spacing-15 0 0;
    padding: $cs-spacing-3 $cs-spacing-10;

    font-weight: $cs-font-weight-bold;

    border-radius: $cs-border-radius-3;

    &:not(:last-of-type) {
      margin-right: $cs-spacing-5;
    }

    &--normal {
      color: $cs-color-primary;

      border: 1px solid $cs-color-commercial;
    }

    &--orange {
      color: $cs-orange;

      border: 1px solid $cs-orange;
    }

    &--green {
      color: $cs-color-secondary;

      border: 1px solid $cs-color-secondary;
    }
  }

  &__list-description-title {
    @extend %cs-font-h12-bold;
    display: block;
    margin: $cs-spacing-10 0;
  }

  &__description {
    .masterclass-tile__icon {
      @extend %cs-font-p-4;
      width: 100%;
      padding-left: $cs-spacing-30;
  
      background-repeat: no-repeat;

      &:not(:last-of-type) {
        margin-bottom: $cs-spacing-5;
      }
    }

    .masterclass-tile__time {
      @extend %clock-icon;
    }
  
    .masterclass-tile__location {
      @extend %location-icon;
    }
  
    .masterclass-tile__host {
      @extend %tutorial-chef-icon;
    }
  }
}
