////////////////////
// SPACING (VERTICAL)
////////////////////

// * designer has instructed that we can use multiples of '5px' for lower values
// when creating the top/bottom space for a component you can use the vertical spacing values provided by splitting
// eg: padding: $cs-spacing-90/2 $cs-spacing-25;

////////////////////
// RAW
////////////////////
$cs-spacing-200: 200px; //unconfirmed
$cs-spacing-190: 190px;
$cs-spacing-150: 150px;
$cs-spacing-140: 140px; //unconfirmed
$cs-spacing-130: 130px;
$cs-spacing-120: 120px;
$cs-spacing-110: 110px;
$cs-spacing-100: 100px; //unconfirmed
$cs-spacing-90: 90px;
$cs-spacing-80: 80px; //unconfirmed
$cs-spacing-70: 70px;
$cs-spacing-65: 65px; //unconfirmed
$cs-spacing-60: 60px;
$cs-spacing-50: 50px;
$cs-spacing-45: 45px; //unconfirmed
$cs-spacing-40: 40px;
$cs-spacing-35: 35px;
$cs-spacing-30: 30px;
$cs-spacing-25: 25px;
$cs-spacing-20: 20px;
$cs-spacing-15: 15px;
$cs-spacing-10: 10px;
$cs-spacing-5: 5px; // unconfirmed
$cs-spacing-3: 3px;
$cs-spacing-2: 2px;
////////////////////
// ASSIGN
////////////////////
