//== Fonts
@font-face {
  font-family: 'Archer-Book';
  src: url('../resources/fonts/Archer-Book-Pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

//ArcherSSm-BookItalic
@font-face {
  font-family: ArcherSSm-BookItalic;
  src: url('../resources/fonts/ArcherSSm-BookItalic-Pro.otf') format('opentype');
  font-style: normal;
  font-stretch: normal;
}

//ArcherSSm-Book
@font-face {
  font-family: 'ArcherSSm-Book';
  src: url('../resources/fonts/ArcherSSm-Book-Pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherSSm-Book';
  src: url('../resources/fonts/ArcherSSm-BookItalic-Pro.woff') format('woff');
  font-weight: 400;
  font-style: italic; 
}

//Archer-SSm
@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-Light-Pro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-LightItalic-Pro.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-Medium-Pro.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-MediumItalic-Pro.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-Semibold-Pro.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-SemiboldItalic-Pro.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-Bold-Pro.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Archer-Ssm';
  src: url('../resources/fonts/ArcherSSm-BoldItalic-Pro.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

//Icons
@font-face {
  font-family: 'slick';
  src: slick-font-url('../resources/fonts/slick.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Helvetica-Neue
@font-face {
  font-family: 'Helvetica-Neue';
  src: url('../resources/fonts/HelveticaNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('../resources/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal; 
}
