@use 'sass:math';

.cmp-container--cs-video-teaser {
  .cmp-container {
    padding: math.div($cs-spacing-70, 2) $cs-spacing-15;
      
    @media (min-width: $cs-screen-md) {
      padding: math.div($cs-spacing-70, 2) $cs-spacing-35 math.div($cs-spacing-70, 2) $cs-spacing-60;
    }

    .teaser {
      max-width: $cs-max-width;
      margin: auto;
      order: 1;
      
      @media (min-width: $cs-screen-md) {
        order: 0;
      }

      .cmp-teaser__content {
        @extend %teaser-base-typography;

        .cmp-teaser__title {
          padding-top: $cs-spacing-35;
          @media (min-width: $cs-screen-md) {
            padding-top: 0;
          }
        }
      }
    }
  }
}
