.loading-skeleton {
    background-color: #eaeaea;
    background-image: linear-gradient( 90deg, #eaeaea, #f5f5f5, #eaeaea);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 1;
    width: 100%;
    animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}