.cmp-container--policy-pages {
  .cmp-container {
    width: 77%;
    margin: 0 auto;
    padding: $spacing-xxl 0;

    .cmp-title--beanz-return {
      width: 100% !important;
      max-width: none;
      padding: 0;
      margin: -10px 0 0 !important;
    }

    .cmp-download--beanz-return .cmp-download__title {
      margin: $spacing-xl auto;
    }

    .text p {
      @extend %font-small-p;
      letter-spacing: $letter-spacing-base;
      margin-top: 0;
      margin-bottom: $spacing-sm;
      @include breakpoint-up (md) {
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
      @include breakpoint-up (lg) {
        font-size: $font-size-medium;
      }

      a,
      a:visited {
        color: $wine-berry;
        font-weight: $font-weight-bold;
        text-decoration: underline;
      }
    }

    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;

      td {
        font-size: $font-size-xsmall;
        line-height: $line-height-paragraph;
        font-family: $font-family-primary;
        letter-spacing: $letter-spacing-base;
        padding: $spacing-xs;
        width: 50%;
        vertical-align: top;
        @include breakpoint-up (md) {
          font-size: $font-size-base;
          line-height: $line-height-base;
        }
        @include breakpoint-up (lg) {
          font-size: $font-size-medium;
        }

        a,
        a:visited {
          color: $wine-berry;
          font-weight: $font-weight-bold;
          text-decoration: underline;
        }
      }
    }
  }
}
