

.shipping__form {
  margin-top: 24px;
}

.shipping__address {
  @extend %cs-font-h8;
  text-align: left;
  color: $cs-color-primary;
  margin-bottom: $cs-spacing-30;
}

.shipping__grid {
  padding: 0;

  .row {
    &.no-gutters {
      @media (min-width: $cs-screen-md) {
        margin-left: -$cs-spacing-10;
        margin-right: -$cs-spacing-10;
      }
    }

    >.col,
    >[class*=col-] {
      @media (min-width: $cs-screen-md) {
        padding: 0 10px;
      }
      @media (max-width: $cs-screen-md) {
        .form-group {
          margin-bottom: $cs-spacing-25;
        }
      }
    }
  }
}

.shipping__shipping {
  margin-top: $cs-spacing-60;
  margin-bottom: $cs-spacing-50;
}

.shipping__shipping-title {
  @extend %cs-font-h8;
  text-align: left;
  color: $cs-color-primary;
}


.shipping-valid {
  display: flex;
  margin-top: $cs-spacing-30;
  margin-bottom: $cs-spacing-70;
}
  
.shipping-valid__card {
  min-width: 50%;
  padding-right: $cs-spacing-60;
}

.shipping-valid__title {
  @extend %cs-font-h11;
  font-weight: $cs-font-weight-bold;
  text-align: left;
  color: $cs-color-primary;
  margin-bottom: $cs-spacing-15;
}
  
.shipping-valid__txt {
  @extend %cs-font-p-4;
  font-weight: $cs-font-weight-normal;
  text-align: left;
  color: $cs-color-primary;
  margin-bottom: 0;
  text-transform: capitalize;
}
