%basic-info {
  margin-top: $cs-spacing-25;
  @media (min-width: $cs-screen-md) {
    margin-top: $cs-spacing-60;
  } 
  @media (min-width: $cs-screen-lg) {
    margin-top: $cs-spacing-35;
  }    

  .primary-product-container__color_label {
    @extend %cs-font-p-2-bold;
    margin-right: $cs-spacing-10;
  }

  .primary-product-container__model { 
    margin-top: $cs-spacing-10;
    @media (min-width: $cs-screen-lg) {
      margin-top: 0;
    }    

    .primary-product-container__model-label {
      @extend %cs-font-p-2;
      padding-right: $cs-spacing-10;
    }

    .primary-product-container__model-value {
      @extend %cs-font-p-2;
      margin-bottom: 0;

      color: $cs-silver-dark;     
    }
      
  }
}
