.cmp-recipecard {
  @media (min-width: $screen-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  &__tagline-wrapper {
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //6 col for the text in design
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    @media (min-width: $screen-md) {
      //6 col for the image in design
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    .cmp-recipecard__image {
      height: 100%;
      width: 100%;
      @media (min-width: $screen-md) {
        width: auto;
      }
    }
  }

  &__content {
    @media (min-width: $screen-md) {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 3;
      grid-row-end: 3;
    }

    .cmp-recipecard__text {
      margin: $spacing-md 0;
      @media (min-width: $screen-md) {
        margin: $spacing-ml 0;
      }
    }

    .cmp-recipecard_button {
      //3 col for the button in design
      width: calc(100% * 3 / 12);
    }
  }
}
