.cmp-container--beanz-signup {
  .cmp-container {
    .button {
      max-width: 100% !important;
      width: 100% !important;
      @include breakpoint-up(md) {
        margin-left: 1% !important;
        position: absolute;
        right: 15px;
        top: 38px;
        max-width: 41.6666666667% !important;
      }
      @include breakpoint-up(lg) {
        margin-left: 1% !important;
        max-width: 16.666666666% !important;
        position: unset;
        top: auto;
        right: auto;
      }
  
      .cmp-form-button {
        @extend %btn-text;
        border-radius: 4px;
        background-color: $violet;
        color: $white;
        border: 0;
        width: 100%;
        padding: 9.5px 7px;
      }
    }
  }
}
