.my-orders__filter-menu-mobile {

  %common-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $cs-spacing-25 0;

    border-bottom: 1px solid $cs-color-gray-40;
  }

  .my-orders__filter-menu {
    @extend %common-style;

    .my-orders__filter-title {
      @extend %cs-font-h2;
      margin-bottom: 0;
    }

    .my-orders__filter-menu-button {
      @extend %close-icon;
      background-color: $cs-black;
      cursor: pointer;
    }
  }

  .my-orders__filter-menu-type,
  .my-orders__filter-menu-year {
    @extend %common-style;
    flex-direction: column;
    align-items: flex-start;

    .my-orders__filter-dropdown {
      width: 100%;

      .my-orders__filter-controller {
        
        width: 100%;

        border-bottom: 0;

        .my-orders__filter-controller-button {
          @extend %cs-font-p-bold;
          display: flex;
          align-items: center;
          width: 100%;

          .my-orders__filter-controller-icon {
            @extend %arrow-down-selectbox;
            position: absolute;
            right: $cs-spacing-35;
          }
        }
      }
    }
    
    .my-orders__filter-options-wrapper {
      position: relative;

      margin-top: $cs-spacing-20;
      padding: 0;

      background-color: unset;
      box-shadow: unset;
  
      .my-orders__filter-options {
        .my-orders__filter-option {
          &:hover,
          &:focus {
            background-color: $cs-whitesmoke;

            .my-orders__filter-option-labelText {
              color: $cs-gunmetal;
            } 

            .my-orders__filter-option-count {
              color: $cs-monsoon;
            }
          }

          &--selected {
            color: $cs-white;

            background-color: $cs-dark-purple;
        
            &:hover,
            &:focus {
              color: $cs-white;

              background-color: $cs-dark-purple;
            } 
        
            .my-orders__filter-option-label {
              .my-orders__filter-option-labelText {
                color: $cs-white;
              }
        
              .my-orders__filter-option-count {
                color: $cs-white;
              }
            }
          }
        }
      }
  
      .my-orders__close-button {
        display: none;
      }
    }
  }

  .my-orders__filter-buttons {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: $cs-spacing-15;

    border-top: 1px solid $cs-gainsboro;

    .my-orders__filter-apply-button {
      @extend %cs-font-p-bold;
      width: 100%;
    }

    .my-orders__filter-reset-button {
      @extend %cs-font-p;
      width: 100%;
      margin-top: $cs-spacing-15;

      text-decoration: underline;

      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
  }
}
