.variant-picker-alg-mb { 
  --size: #{$cs-spacing-15};
  --gap: #{$cs-spacing-10};
  @extend %variant-picker-base;

  margin-bottom: $cs-spacing-15;

  .variant-btn {
    @extend %variant-picker-button-base;   

    img {      
      position: absolute;
      top: 0;
      left: 0;
    } 
  } 

  .variant-count-label {
    @extend %cs-font-p-5;
    // MORE text
    font-size: cs-rem(11px);
  }
  
}
