.variant-picker-pdp { 
  --size: #{$cs-spacing-45};
  --gap: #{$cs-spacing-10};
  @extend %variant-picker-base;

  margin-bottom: $cs-spacing-15;

  .variant-picker__list {
    padding-bottom: $cs-spacing-10;
    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
    scroll-behavior: smooth;
  }


  .variant-btn {
    @extend %variant-picker-button-base;   

    img {      
      position: absolute;
      top: 0;
      left: 0;
    } 

    &--selected {
      &::after {       
        box-shadow: inset 0 0 0 2px $cs-color-primary, inset 0 0 0 4px $cs-white !important;
      }
    }
  } 


}
