@use 'sass:math';

.cta-container__bundle_cta {
  --image-height-mobile: 190px;
  --image-width-mobile: 235px;
  --image-height-desktop: 130px;
  --image-width-desktop: 170px;
 
  padding: $cs-spacing-20;

  background-color: $cs-color-gray-60;
  border-radius: $cs-border-radius-base;
  
  @media (min-width: $cs-screen-xl) {
    display: grid;
    grid-template-areas: 
      'title title'      
      'content hero'
      'link link'
      'pretitle pretitle';
      
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .cta__title {    
    flex: 1;
    grid-area: title;
    padding-right: $cs-spacing-35;

    .title {
      @extend %cs-font-h7;
      margin-bottom: $cs-spacing-15;
      padding: 0;
    }
  }

  .cta__pretitle {
    @extend %cs-link-underline;
    @extend %cs-font-p-2;
    grid-area: pretitle;
    margin-top: $cs-spacing-25;
    padding-bottom: $cs-spacing-20;

    text-align: center;

    cursor: pointer;
    @media (min-width: $cs-screen-md) {
      padding-bottom: $cs-spacing-5;
    }
     
  }

  .cta-image {
    display: flex;
    grid-area: hero;
    align-items: flex-end;
    justify-content: center;
    margin-top: $cs-spacing-10;
    
    @media (min-width: $cs-screen-xl) {
      justify-content: flex-end;   
    }

    .cmp-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (min-width: $cs-screen-xl) {         
          width: var(--image-width-desktop);
          height: var(--image-height-desktop);
        }
      }
    }    
  }

  .cta__content {
    grid-area: content;
  
    ul {
      @extend %cs-font-p-6; // 14px (Mobile) 16px (Desktop)
      margin-bottom: $cs-spacing-10;
      margin-left: $cs-spacing-20;

      li {
        padding-bottom: $cs-spacing-10;
      }

      // check mark SVG
      li::before {
        @extend %check-list-icon;
        margin-right: $cs-spacing-10;
        margin-bottom: math.div($cs-spacing-5, 2);
        margin-left: -$cs-spacing-20; // offset to align <li> text after check mark

        background-color: $cs-color-secondary;
        background-repeat: no-repeat;

        content: '';
      }
    }
      
    @media (min-width: $cs-screen-lg) {
      min-width: 310px;

      ul {
        margin-bottom: 0;

        li:last-child {
          padding-bottom: $cs-spacing-5;
        }
      }
    }
  }

  .cta__action-container {
 
    flex: 1;
    grid-area: link;
    margin-top: $cs-spacing-20;
    padding: 0 !important;

    text-align: center;

    .cta__action-link {
      @extend %cs-button-purple-fill-small; 
      display: flex;
      justify-content: center;
      padding: $cs-spacing-15 $cs-spacing-25;
    }
    
    @media (min-width: $cs-screen-xl) {
      flex: 1;     
    }
  }

    
 
}
