.cmp-teaser--mybreville-support-tile {
  padding: $cs-spacing-20;

  background-color: $cs-white;
  border-radius: $cs-border-radius-8;

  @media (min-width: $cs-screen-md) {
    padding: $cs-spacing-25;
  }

  .cmp-teaser__title-link {
    display: none;
  }

  .cmp-teaser__pretitle {
    display: none;
  }

  .cmp-teaser__content {
    .cmp-teaser__title {
      @extend %cs-font-p-bold;
      display: flex;
      align-items: center;
      margin-bottom: $cs-spacing-15; 
    }

    .cmp-teaser__description {
      @extend %cs-font-p-4;

      p {
        font-family: $cs-font-family-paragraph !important;
      }

      a {
        text-decoration: underline;
      }

      ul {
        margin: 0;

        line-height: normal;
      }

      li {
        margin-bottom: $cs-spacing-20;
      }
    }

    .cmp-teaser__action-container {
      margin-top: $cs-spacing-25;

      @media (min-width: $cs-screen-md) {
        margin-top: $cs-spacing-30;
      }

      .cmp-teaser__action-link {
        @extend %cs-font-p-6-bold;
        @extend %cs-button;
        @include cs-button($cs-gunmetal, $cs-white);
        display: inline-block;
        width: 100%;
        padding: $cs-spacing-15 0;

        text-align: center;
        @media (min-width: $cs-screen-md) {
          width: unset;
          min-width: 40%;
        }
      }
    }
  }
}
