.cmp-teaser--hero {
    &.cmp-teaser--empty-cart {
        .cmp-teaser {
            background-color: $white;
            .cmp-teaser__description {
                text-shadow: none;
                * {
                    color: $gunmetal;
                }
            }
            .cmp-teaser__action-container {
                a.cmp-teaser__action-link {
                    border-radius: $cs-border-radius-8;
                    background-color: $green-cola;
                    text-shadow: none;
                    border-color: $green-cola;
                    &:focus,
                    &:hover {
                        color: $white;
                        background-color: $green-cola;
                        border-color: $green-cola;
                    }
                }
            }
            &::after {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

#empty-continue-shopping{
position: relative;
}