.cmp-parallax-scroll--top-banner {
  .cmp-parallax-scroll {
    .cmp-parallax-scroll__content {
      > .cmp-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        .cmp-teaser--wave-top-banner {
          height: auto;
          margin: $spacing-tw-xxs $spacing-page-gutter-mobile 75vh $spacing-page-gutter-mobile;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (min-wdith: $screen-sm) {
            margin: $spacing-tw-md 0 75vh;
          }
          @media (min-width: $screen-md) {
            margin: $spacing-tw-xl 0 75vh;
          }

          .cmp-teaser__pretitle {
            @extend %font-h1;
          }

          .cmp-teaser__title {
            @extend %font-h1;
          }
        }
      }
    }
  }
}
