.cmp-mybreville__change-password {
  .cmp-mybreville__change-password-column {
    padding-left: 0;
  }

  .cmp-form--buttons {
    display: flex;
    gap: $cs-spacing-10;
    margin-right: $cs-spacing-10;

    .cmp-button {
      @extend %cs-font-p-2-bold;
      background: transparent;
      color: $cs-gunmetal;
      font-size: $cs-font-size-base;
      border-color: $cs-gunmetal !important;
      height: 54px;
      width: 100% !important;
      text-align: center;
    }

    .cmp-button:hover {
      background-color: $cs-dark-purple;
      color: $white;
    }

    .form-button {
      margin-top: 0;
      height: 54px;
      width: 100% !important;
    }

    .button-text {
      padding: 0;
    }
  }
}

