// header layout inclusive of controls
.plp-header-mobile {
  margin-bottom: $cs-spacing-35;

  .plp-controls {
    margin-bottom: $cs-spacing-35;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $cs-spacing-15;
    font-weight: $cs-font-weight-bold;

    > button {
      font-weight: $cs-font-weight-bold;
    }

    .sort-by-btn {
      @extend %cs-font-p-2;
      font-weight: $cs-font-weight-bold;
      border: 1px solid $cs-color-primary;
      border-radius: $cs-border-radius-8;
      background-color: $cs-white;
      cursor: pointer;
      display: grid;
      place-items: center;
      padding: $cs-spacing-5;

      .ais-SortBy-select {
        text-align-last: center;
        font-size: $cs-font-size-base;
        border: 0;
        background: $cs-white;
        outline: none;
        cursor: pointer;
      }
    }

    .compare-btn {
      grid-column: span 2;
    }
  }

  .current-refinements {
    margin-bottom: $cs-spacing-20;

    .current-refinements__title {
      @extend %cs-font-h10;
      font-weight: $cs-font-weight-bold;
    }

    .current-refinements__inner {
      display: inline-block;

      .current-refinements__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: $cs-spacing-10 $cs-spacing-15;
        border: 1px solid $cs-color-gray-30;
        border-radius: $cs-border-radius-8;
        margin-bottom: $cs-spacing-10;

        // gap spacing between items horizontally
        &:not(:last-child) {
          margin-right: $cs-spacing-10;
        }

        .current-refinements__item-text {
          // todo: update the font with a placeholder
          font-size: $cs-font-size-xsmall;
          line-height: 16px;
        }

        .current-refinements__item-cancel {
          --icon-size: 0.5rem;
          @extend %close-icon;
          width: var(--icon-size);
          height: var(--icon-size);
          background-color: $cs-black;
          margin-left: $cs-spacing-15;
          cursor: pointer;
        }
      }
    }

    .current-refinements__reset {
      // explicitly set font-size to overwrite button placeholders
      font-size: 1rem !important;
      outline: 0;
      border: 0;
      background: transparent;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .plp-title {
    @extend %cs-font-h4;
  }

}
