<sly data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-use.iconTemplate="icon.html"
     data-sly-test.hasContent="${button.text}"></sly>

<div class="cmp-modal__wrapper">
    <button class="cmp-button" data-sly-test="${properties.showButton}"
            data-sly-element="button"
            type="button"
            id="${component.id}"
            aria-label="${button.accessibilityLabel}"
            data-modal-url="${properties.modalContentXfPath}"
            data-modal-id="cmp-modal__${button.id}"
            data-cmp-clickable="${button.data ? true : false}"
            data-cmp-data-layer="${button.data.json}">
        <sly data-sly-call="${iconTemplate.icon @ icon=button.icon}"></sly>
        <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
    </button>
    <div class="cmp-modal" id="cmp-modal__${button.id}"></div>
    <div class="cmp-modal__backdrop"></div>
</div>

<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>