.cmp-container--responsive-2-3-4-column-layout {
  .cmp-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: dense;
    gap: $spacing-xs;
    padding: $spacing-xs $spacing-sm;

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $screen-xl) {
      grid-template-columns: repeat(4, 1fr);
      gap: $spacing-md;
      padding: $spacing-md $spacing-xxl;
    }
  }
}
