.cmp-reactplp__root {
  .cmp-container-plp {
    max-width: $max-width;
    margin: 0 auto;
    padding: $spacing-xl $spacing-sm;

    .cmp-text-plp__filter-title {
      @extend %font-h3-lage;
      display: none;
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: $spacing-md;
      @include breakpoint-up(lg) {
        display: flex;
      }
    }

    .cmp-ontainer-plp__sortby-head {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      @include breakpoint-up(lg) {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }

    .cmp-container-plp__head-row {
      display: block;
      @include breakpoint-up(lg) {
        display: flex;
        flex-wrap: wrap;
      }

      .cmp-container-plp__right-filter {
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: $spacing-sm;
        flex-wrap: wrap;
        @include breakpoint-up(sm) {
          flex-wrap: nowrap;
        }
        @include breakpoint-up(lg) {
          display: none;
        }

        .cmp-container-plp__right-filter--value {
          @extend %dropdown-arrow;
          font-size: $font-size-base;
          border: 1px solid $font-brown;
          border-left: 0;
          border-right: 0;
          padding: $spacing-xxs 0;
          width: 100%;
          height: 36px;
          display: inline-block;
          position: relative;

          @include breakpoint-up(md) {
            max-width: 200px;
          }
        }

        .cmp-text-plp__filter--label {
          @extend %font-h3-lage;
          padding-top: $spacing-xxs;
          padding-right: $spacing-sm;
          display: inline-block;
        }
      }

      .cmp-container-plp__ight-sort-by {
        display: flex;
        justify-content: flex-end;
        order: 2;
        flex: 0 0 50%;
        max-width: 50%;
        align-items: flex-end;
        @include breakpoint-up(md) {
          align-items: flex-start;
        }
        
        // Coming from Algolia React Component
        .ais-SortBy {
          @extend %dropdown-arrow;
          flex: 1;
          position: relative;
          flex: 0 0 100%;
          @include breakpoint-up(sm) {
            flex: auto;
          }
          
          // Coming from Algolia React Component
          .ais-SortBy-select {
            @extend %font-p;
            border: 1px solid $font-brown;
            border-left: 0;
            border-right: 0;
            padding: $spacing-xxs 0;
            font-size: $font-size-base;
            width: 100%;
            height: 36px;
            appearance: none;
            @include breakpoint-up(md) {
              width: 200px;
              font-size: $font-size-medium;
            }
          }
        }

        .cmp-container-plp__ight-sort-by-box {
          display: flex;
          align-items: center;
          flex: 0 0 100%;
          flex-wrap: wrap;
          @include breakpoint-up(sm) {
            flex-wrap: nowrap;
          }
          @include breakpoint-up(md) {
            flex: none;
          }

          .cmp-text-plp__ight-sort-by-title {
            @extend %font-h3-lage;
            margin-right: $spacing-xs;
          }
        }
      }
      
      // Coming from Algolia React Component
      .ais-Stats {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
        padding-bottom: $spacing-md;
        text-align: center;
        margin-top: $spacing-md;
        @include breakpoint-up(lg) {
          order: 1;
          flex: 0 0 50%;
          max-width: 50%;
          text-align: left;
          margin-top: 0;
        }
        
        // Coming from Algolia React Component
        .ais-Stats-text {
          @extend %font-h3-lage;
        }
      }
    }

    .cmp-container-plp__inner {
      display: grid;
      grid-template-columns: auto;
      @include breakpoint-up(lg) {
        grid-template-columns: 25% 1fr;
      }

      .cmp-container__plp-left {
        padding: 0;
        display: none;
        @include breakpoint-up(sm) {
          padding: $spacing-sm;
        }
        @include breakpoint-up(lg) {
          padding: 0 $spacing-lg 0 0;
          display: block;
        }

        &.active {
          display: block;
        }

        .cmp-container__plp-left-mobile-header {
          position: relative;
          padding: $spacing-xxs;
          border-bottom: 1px solid $gray80;
          margin-bottom: $spacing-xs;
          @include breakpoint-up(lg) {
            display: none;
          }

          .cmp-button__plp-left-close-btn {
            position: absolute;
            width: 34px;
            height: 34px;
            top: 0;
            right: 0;
            background: $gray80;
            border-radius: $border-radius-base;
            border: 0;

            &::before,
            &::after {
              position: absolute;
              left: 50%;
              content: ' ';
              height: 20px;
              width: 2px;
              background-color: $white;
              top: 50%;
              margin-top: -$spacing-xs;
              margin-left: -$spacing-xxxxs;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
          }

          .cmp-text__plp-left-mobile-title-h3 {
            @extend %font-bitter-large-p;
            color: $font-brown;
            text-align: center;
          }
        }

        .cmp-container__plp-left-nav-box {
          width: 320px;
          margin: auto;
          @include breakpoint-up(lg) {
            width: 100%;
          }

          .cmp-button__plp-left--reset-btn {
            @extend %border-green-plp-btn;
            margin-bottom: $spacing-lg;
          }

          .cmp-button__plp-left--apply-btn {
            @extend %solid-green-plp-btn;
            margin-right: $spacing-xs;
            @include breakpoint-up(lg) {
              display: none;
            }
          }
          
          // Coming from Algolia React Component
          .ais-SearchBox-form {
            margin: 0 0 $spacing-lg;
            position: relative;
            
            // Coming from Algolia React Component
            .ais-SearchBox-input {
              @extend %font-p;
              padding: $spacing-xs;
              width: 100%;
              border-radius: $border-radius-base;
              border: 1px solid $gray-suva;
              font-size: $font-size-base;
              color: $gray-suva;

              &::placeholder {
                color: $gray-suva;
              }
            }
            
            // Coming from Algolia React Component
            .ais-SearchBox-submit,
            .ais-SearchBox-reset {
              position: absolute;
              right: 2px;
              top: 2px;
              bottom: 2px;
              width: 30px;
              background: $white;
            }
          }

          .cmp-container__plp-left--filter-card {
            .cmp-text__plp-left--filter-card-title {
              @extend %font-h3;
              margin: $spacing-xxs 0;
              background-color: $seashell;
              padding: $spacing-xxs $spacing-xs;
              cursor: pointer;
              position: relative;
              word-break: break-word;
              padding-right: $spacing-md;

              &::before {
                content: '-';
                position: absolute;
                right: $spacing-xxs;
                top: 0;
                bottom: 0;
                width: 20px;
                font-size: $font-size-large;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $error;
              }
            }
            
            // Coming from Algolia React Component
            .ais-RefinementList {
              transition: max-height $animation-duration ease-in-out;
              overflow: hidden;
            }
            
            // Coming from Algolia React Component
            .ais-RefinementList-item {
              @extend %font-medium-p;
              padding: $spacing-md $spacing-xs;
              border-bottom: 1px solid $gray80;
              
              // Coming from Algolia React Component
              .ais-RefinementList-checkbox {
                position: absolute;
                opacity: 0;
              }
              
              // Coming from Algolia React Component
              .ais-RefinementList-label {
                padding-left: $spacing-lg;
                display: inline-block;
                
                // Coming from Algolia React Component
                .ais-RefinementList-labelText {
                  position: relative;
                  word-break: break-word;

                  &::before {
                    position: absolute;
                    content: '';
                    left: -24px;
                    top: 50%;
                    margin-top: -$spacing-xxs;
                    width: 13px;
                    height: 13px;
                    border: 1px solid $font-brown;
                    background: $seashell;
                  }
                }
              }
              
              // Coming from Algolia React Component
              &.ais-RefinementList-item--selected {
                .ais-RefinementList-labelText {
                  &::before {
                    border: 1px solid $violet;
                    background: $gray-lighter;
                  }

                  &::after {
                    content: '';
                    position: absolute;
                    left: -23px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background: $violet;
                    width: 2px;
                    height: 2px;
                    box-shadow: $box-shadow-green-checkbox;
                    transform: rotate(45deg);
                  }
                }
              }
            }

            &.plp-card-close {
              .cmp-text__plp-left--filter-card-title {
                &::before {
                  content: '+';
                  color: $violet;
                }
              }
              
              // Coming from Algolia React Component
              .ais-RefinementList {
                max-height: 0;
                transition: max-height $animation-duration ease;
              }
            }
          }
          
          // Coming from Algolia React Component
          .ais-CurrentRefinements-list {
            // Coming from Algolia React Component
            .ais-CurrentRefinements-item {
              background: $gray95;
              padding: $spacing-xs;
              border-radius: $border-radius-base;
              margin-top: $spacing-xs;

              // Coming from Algolia React Component
              .ais-CurrentRefinements-label {
                @extend %font-bold-small-p;
                display: block;
                margin: $spacing-xxs $spacing-xxs $spacing-xs;
              }

              // Coming from Algolia React Component
              .ais-CurrentRefinements-category {
                @extend %font-small-p;
                padding: $spacing-xxs $spacing-xs;
                border: 1px solid $gray80;
                margin: $spacing-xxs;
                border-radius: $border-radius-base;
                background: $white;
                display: inline-block;
                position: relative;
                word-break: break-word;

                // Coming from Algolia React Component
                .ais-CurrentRefinements-delete {
                  font-size: $font-size-xxsmall;
                  color: $white;
                  background: $gray-suva;
                  width: 15px;
                  height: 15px;
                  border-radius: $border-radius-circle;
                  text-align: center;
                  position: absolute;
                  right: -$spacing-xs;
                  top: -$spacing-xs;
                }
              }
            }
          }
        }
      }

      .cmp-container__plp-right {
        
        // Coming from Algolia React Component
        .ais-InfiniteHits-loadMore {
          @extend %light-green-btn;
          margin-top: $spacing-xs;
          width: auto;
          margin: $spacing-lg auto;
          display: table;

        }
      }
    }

    .cmp-container__plp--card-item {
      border: 1px solid $gray-suva;
      height: 100%;
      border-radius: $border-radius-base;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: $seashell;
      position: relative;

      .cmp-text__plp--item-gotocart {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
      }

      .cmp-container__plp--card-item-body {
        padding: $spacing-sm;
        text-align: center;

        .cmp-text__plp-card--item-roaster-name {
          @extend %font-green-bold-p;
        }

        .cmp-container__plp--card-item-btn-container {
          padding: 0 $spacing-xxs;

          .cmp-button__plp--card-item-buy-now {
            @extend %solid-light-green-large-btn;
            margin: $spacing-xs 0;
          }
        }

        .cmp-text__plp--card-item-name {
          @extend %font-h3-lage;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70px;
          
          @include breakpoint-up(md) {
            font-size: $font-size-card-title;
          }

          .cmp-text__plp--card-item-name-a {
            color: $black;
          }
        }

        .cmp-text__plp--card-item-darkroast,
        .cmp-text__plp--card-item-subscribe-save {
          @extend %font-p;
        }

        .cmp-text__plp--card-item-darkroast {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 30px;
        }

        .cmp-text__plp--card-item-price {
          font-family: $font-family-secondary;
          font-size: $font-size-medium;
          color: $font-brown;
          margin-bottom: $spacing-xs;
        }
      }

      .cmp-container__plp--card-item-img-box {
        width: 100%;
        background-color: $white;
        border-top-right-radius: $border-radius-base;
        border-top-left-radius: $border-radius-base;

        .cmp-image__plp--card-item-image {
          max-width: 274px;
          width: 100%;
          display: block;
          padding: $spacing-lg;
          margin: auto;
          object-fit: contain;
        }
      }
    }
    
    // Coming from Algolia React Component
    .ais-InfiniteHits-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      margin: -$spacing-xs;
      @include breakpoint-up(md) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
      @include breakpoint-up(lg) {
        grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
      }
      
      // Coming from Algolia React Component
      .ais-InfiniteHits-item {
        padding: $spacing-xs;
      }
    }
  }
}
