.cmp-container--beanz-signup {
  >.cmp-container {
    background-color: $seashell;
    padding: 45px 0;
    margin: -16px -20px 15px;

    >.container {
      display: block;
      max-width: $max-width;
      width: auto;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      .cmp-form {
        .title {
          width: 100% !important;
          padding: 0 15px 0 0;
          @include breakpoint-up (lg) {
            max-width: 43.6666666667% !important;
          }
          @include breakpoint-down (lg) {
            margin-top: 15px;
          }
          @include breakpoint-down (md) {
            margin-top: 0;
          }

          h1 {
            margin: 0;
            font-family: $font-family-secondary;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            line-height: inherit;
            letter-spacing: normal;
            color: $jaguar;
            padding-top: 1px;
            @include breakpoint-up (xl) {
              font-size: $font-size-h2;
            }
          }
        }
      }
    }
  }
}
