// based on core 'button with cta' component
.cmp-button--pulse {
  --foreground: #{$black};
  --background: #{$white};
  --width: #{rem(45px)};
  --height: var(--width);

  .cmp-button {
    height: var(--height);
    width: var(--width);
    background-color: var(--background);
    border: none;
    position: relative;
    border-radius: 50%;

    &__text {
      display: none;
    }

    &__icon {
      position: absolute;
      height: var(--height);
      width: var(--width);
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--background);
      z-index: 3;
      border-radius: 50%;
      opacity: 0.8;

      &::before {
        // todo: use svg asset
        // todo: look in to 'mask'
        content: '+';
        display: inline-block;
        position: relative;
        z-index: 4;
        display: grid;
        place-items: center;
        height: 100%;
        align-items: center;
        font-size: 2.75em;
        line-height: 1;
        transform: scale(0.85);
        transform-origin: center;

        transition: transform 100ms linear;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--background);
      border-radius: 50%;
      z-index: 1;
      background-color: transparent;
      transform: scale(1.3);
      border: 1px solid var(--background);
      opacity: 1;
      animation: pulse 2.5s infinite;

      @keyframes pulse {
        0% {
          opacity: 1;
          transform: scale(0.95);
        }

        100% {
          opacity: 0;
          transform: scale(1.5);
        }
      }
    }

    // HOVER/FOCUS ANIMATION
    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;

      .cmp-button__icon {
        &::before {
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  }
}
