<!--Breville Beanz Our Roaster Details Component -->
<div class='beanz-roasters'>
	<div data-react-app='BeanzOurRoasters' class='cmp-beanz-our-roaster' data-cmp-is="BeanzOurRoasters" data-sly-use.roastersDetails="com.breville.aem.brands.core.models.BeanzRoasterDetails">
		<script type="application/json">
				${roastersDetails.beanzRoastersVendorsInfo @context="scriptComment"}
		</script>
	</div>
	<sly data-sly-test="${wcmmode.edit}">
		<p data-react-app-placeholder>Breville Beanz Our Roaster Details Component</p>
	</sly>
</div>