%cmp-primary-product-right {
  .cmp-primary-product--machine-detail {
    margin-top: $cs-spacing-10;
  
    .cmp-primary-product--machine-detail__review {
      display: flex;
      min-width: 310px;

      .bv_main_container {
        padding: 0 !important;

        .bv_stars_component_container,
        .bv_main_container_row_flex {
          padding-right: $cs-spacing-10 !important;
          @media (min-width: $cs-screen-md) {        
            padding-right: $cs-spacing-3 !important;
  
          }  
          @media (min-width: $cs-screen-lg) {        
            padding-right: $cs-spacing-10 !important;
  
          }    
        }  

        .bv_avgRating_component_container.notranslate,
        .bv_button_buttonMinimalist,
        .bv_numReviews_text {
          font-family: $cs-font-family-paragraph !important;
          font-size: $cs-font-size-small !important;
          line-height: $cs-line-height-p !important;
        }  
      }
      
      .cmp-primary-product--machine-detail__review--share {
        @extend %cs-font-p-4;
        @extend %cs-link-underline;
        color: $cs-forest-green;
        display: flex;
        align-items: center;

        &::after {
          @extend %share-icon;
          content: '';
          color: $cs-forest-green;
          margin-left: $cs-spacing-10;
          background-color: $cs-forest-green;
          @media (min-width: $cs-screen-md) {
            margin-left: $cs-spacing-3;
          }  
          @media (min-width: $cs-screen-lg) {
            margin-left: $cs-spacing-10;
          }  
        }
      }
    }

    &__section {
      display: flex;
      flex-direction: column-reverse;
      @media (min-width: $cs-screen-md) {
        flex-direction: column;
      }

      .cmp-primary-product--machine-detail__description {
        padding-right: $cs-spacing-5;
        margin-top: $cs-spacing-20;
        @media (min-width: $cs-screen-md) {
          margin-top: $cs-spacing-30;
        }
  
        p {
          @extend %cs-font-p-3;
        }
  
        a {
          @extend %cs-font-p-3;
          @extend %cs-link-underline;
          color: $cs-forest-green;
          text-decoration-color: $cs-forest-green;
        }

      }
    }

    &--mulberry__section {
      margin-top: $cs-spacing-20;
  
      &--title {
        @extend %cs-font-p-price;
        font-size: $cs-font-size-base;
        font-weight: $cs-font-weight-bold;
        color: $cs-gunmetal;
        display: flex;
        flex-direction: row;

        &-text {
          margin-right: $cs-spacing-10;
        }

       
      }

      &--description {
        @extend %cs-font-p-4;
        margin-top: $cs-spacing-10;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      
        &-content {      
          margin-bottom: $cs-spacing-3;        
        }
      }

      &--warranty {
        @extend %cs-font-p-4;      
        margin-top: $cs-spacing-15;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .cmp-primary-product--machine-detail--mulberry__section--warranty-buttons {
          display: flex;
          flex: 1;

          button {           
            height: 40px;
            border-radius: 4px;
            border: solid 1px $cs-forest-green;
            background-color: $cs-white;
            width: 50%;
            position: relative;

            &:nth-child(1) {            
              margin-right: $cs-spacing-15;
            }

           
          }

          .cmp-button-selected {           
            &::after {
              @extend %selected-circled-small-icon;
              content: '';
              position: absolute;
              top: -5px;
              right: -5px;     
             
            }
           
          }
          
        }
      }
    }

    &__price {       
      margin: $cs-spacing-20 0 $cs-spacing-20 0;
      display: flex;
      flex-direction: row;
      padding-bottom: $cs-spacing-20;
      border-bottom: 1px solid $cs-gainsboro;
 
      @media (min-width: $cs-screen-md) {        
        margin: $cs-spacing-30 0 $cs-spacing-30 0;
        flex-direction: column;
      }
      @media (min-width: $cs-screen-lg) {        
        flex-direction: row;
      }
    
   
      .cmp-primary-product--machine-detail__amount {
        @extend %cs-font-h14;       
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      

        .cmp-primary-product--machine-detail__slash {
          @extend %cs-font-h14;
          color: $cs-light-grey;
          font-weight: $cs-font-weight-normal;
          padding: 0 $cs-spacing-10;
          @media (min-width: $cs-screen-md) {
            padding: 0 $cs-spacing-5;
          }
        }

        .cmp-primary-product--machine-detail__slash-small {
          @extend %cs-font-p-2;
          color: $cs-light-grey;
          font-weight: $cs-font-weight-normal;
        }
      }

      .cmp-primary-product--machine-detail__offer-section {
        @extend %cs-font-p-5;
        display: flex;
        flex-direction: row;
        margin-left: $cs-spacing-5;
                     
        @media (min-width: $cs-screen-md) {        
          flex-direction: row;
          margin-left: 0;
          align-items: flex-end;
        }   
        @media (min-width: $cs-screen-lg) {           
          margin-left: $cs-spacing-15;              
        }   
     

        &--interest-section {
          @extend %cs-font-p-5;
          display: flex;
          flex-direction: column;
         
          // different flex-direction applied to aviod overflow of content
       
          @media (min-width: $cs-screen-md) {        
            flex-direction: row;
            margin-bottom: 2px;
          }
          @media (min-width: $cs-screen-lg) {        
            flex-direction: column;
          }
          @media (min-width: $cs-screen-xl) {        
            flex-direction: row;
          }

          &-interest {
            @media (min-width: $cs-screen-xl) {        
              margin-left: $cs-spacing-3;
            }
          }

          &-interest-period {
            @media (min-width: $cs-screen-xl) {        
              margin-left: $cs-spacing-3;
            }
            
          }
        }

        .cmp-primary-product--machine-detail__offer-icon {          
          display: flex;
          height: 1.1875rem;
          margin-left: $cs-spacing-5;
          padding-bottom: $cs-spacing-3;
          margin-top: $cs-spacing-15;
          width: 50px;
          @media (min-width: $cs-screen-md) {        
            margin-bottom: $cs-spacing-3;
          }       
        }

        .cmp-primary-product--machine-detail__info-icon {          
          display: flex;
          height: 1.375rem;
          width: 1.375rem;
          margin-top: $cs-spacing-10;
          @media (min-width: $cs-screen-md) {        
            margin-bottom: $cs-spacing-5;
          }           
        }
    
      }
    }

    

    .cmp-primary-product--machine-detail__cart-detail {
      @extend %quantity-input;
      display: flex;
      flex-direction: row;
      margin-bottom: $cs-spacing-30;

      .cmp-primary-product--machine-detail__notify {
        display: flex;
        flex-direction: column;
        width: 100%;

        .cmp-primary-product--machine-detail__soldout {
          color: red;
        }
      }
     

     
      // targeting the .quantity div and NOT the .quantity input
      > div.quantity {
        margin-right: $cs-spacing-15;
       
        @media (min-width: $cs-screen-md) {        
          margin-right: 5px;
        } 
        @media (min-width: $cs-screen-lg) {        
          margin-right: 10px;
        } 
        @media (min-width: $cs-screen-xl) {        
          margin-right: $cs-spacing-15;
        } 
        @media (min-width: $cs-screen-xxl) {  
          min-width: 160px;
        }
      }

      .quantity {
        // different width applied to aviod overflow of button
        min-width: 140px;
        
        .quantity__button-plus-active {
          @extend %plus-icon;
          background-color: $cs-gunmetal;
          content: '';
          width: 14px;
          height: 14px;
          border-radius: 0.5rem;
          margin: $cs-spacing-15;
          
          
        }
       
        @media (min-width: $cs-screen-md) {        
          min-width: 140px;
        } 
        @media (min-width: $cs-screen-lg) {        
          min-width: 140px;
        } 
        @media (min-width: $cs-screen-xl) {        
          min-width: 145px;
        } 
        @media (min-width: $cs-screen-xxl) {  
          min-width: 160px;
        }
      }

      .quantity__button-active {
        @extend %cs-font-h14;
        width: $cs-spacing-40;
        height: $cs-spacing-40;
        border-radius: $cs-border-radius-8;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: $cs-gunmetal;
    
        &:hover {
          cursor: pointer;
        }
      }

      .cmp-button {
        @extend %cs-button-green-fill-medium; 
        flex: 1;
        font-weight: $cs-font-weight-bold;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
